In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_anger = pd.read_json("./Data/TEST_DATA_SET/label/test_anger.json", encoding="euc-kr")
train_happy = pd.read_json("./Data/TEST_DATA_SET/label/test_happy.json", encoding="euc-kr")
train_panic = pd.read_json("./Data/TEST_DATA_SET/label/test_panic.json", encoding="euc-kr")
train_sadness = pd.read_json("./Data/TEST_DATA_SET/label/test_sadness.json", encoding="euc-kr")

train_emotions = pd.concat([train_anger, train_happy, train_panic, train_sadness])

In [3]:
train_emotions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1137 entries, 0 to 283
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   filename          1137 non-null   object
 1   gender            1137 non-null   object
 2   age               1137 non-null   int64
 3   isProf            1137 non-null   object
 4   faceExp_uploader  1137 non-null   object
 5   bg_uploader       1137 non-null   object
 6   annot_A           1137 non-null   object
 7   annot_B           1137 non-null   object
 8   annot_C           1137 non-null   object
dtypes: int64(1), object(8)
memory usage: 88.8+ KB

### MetaData
- filename: 파일명
- gender: 성별
    - "남": 남성
    - "여": 여성
- age: 나이
- isProf: 전문가 여부
    - "전문인" / "일반인"
- faceExp_uploader: 사진 속 얼굴의 감정
    - "분노", "기쁨", "당황", "슬픔", "중립"
- bg_uploader: 사진 배경
    - "실외 자연환경", "문화재 및 유적지", "스포츠 관람 및 레저시설", "공공시설/종교/의료", "행사/사무공간", "숙박 및 거주공간" ...
- annot_A: 얼굴 어노테이션 사각형 A
- annot_B: 얼굴 어노테이션 사각형 B
- annot_C: 얼굴 어노테이션 사각형 C

In [4]:
train_emotions.shape6

(1137, 9)

In [ ]:
train_emotions['expression'] = np.where(train_emotions['faceExp_uploader'] == '분노', 0)
train_emotions['expression'] = np.where(train_emotions['faceExp_uploader'] == '기쁨', 1)
train_emotions['expression'] = np.where(train_emotions['faceExp_uploader'] == '당황', 2)
train_emotions['expression'] = np.where(train_emotions['faceExp_uploader'] == '슬픔', 3)

In [5]:
print(train_emotions.isna().sum())
train_emotions = train_emotions.dropna(axis=0)

filename            0
gender              0
age                 0
isProf              0
faceExp_uploader    0
bg_uploader         0
annot_A             0
annot_B             0
annot_C             0
dtype: int64

In [9]:
print(train_emotions["filename"].duplicated())
# train_emotions = train_emotions["filename"].drop_duplicates().reset_index(drop=True)

0      False
1      False
2      False
3      False
4      False
       ...
279    False
280    False
281    False
282    False
283    False
Name: filename, Length: 1137, dtype: bool

In [10]:
emotions_test = train_emotions[["filename", "gender", "age", "isProf", "faceExp_uploader", "bg_uploader"]]

In [11]:
emotions_test.describe()

               age
count  1137.000000
mean     27.124011
std       8.119677
min      10.000000
25%      20.000000
50%      30.000000
75%      30.000000
max      60.000000

In [13]:
categorical_feature = ["gender", "age", "isProf", "faceExp_uploader", "bg_uploader"]

for col in categorical_feature:
    emotions_test[col].value_counts().plot(kind='bar')
    plt.title(col)
    plt.show()

TypeError: list indices must be integers or slices, not str